In [1]:
import pandas as pd
import numpy as np

In [2]:
labels=['a','b','c']
minha_lista=[10,20,30]
arr=np.array([10,20,30])
d={'a':10,'b':20,'c':30}

pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [3]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data=minha_lista,index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [8]:
raking_clientes=pd.Series(data=[1,2,3],index=['Noroeste','Trocaphone','Rei_Iphone'])
raking_clientes

Noroeste      1
Trocaphone    2
Rei_Iphone    3
dtype: int64

In [9]:
raking_clientes['Noroeste']

1

In [11]:
raking_clientes[0]

1

In [12]:
raking_clientes2= pd.Series(data=[4,5,6],index=['Noroeste','Çhiquinho','Rei_Iphone'])
raking_clientes2

Noroeste      4
Çhiquinho     5
Rei_Iphone    6
dtype: int64

In [13]:
raking_clientes + raking_clientes2

Noroeste      5.0
Rei_Iphone    9.0
Trocaphone    NaN
Çhiquinho     NaN
dtype: float64

In [15]:
from numpy.random import randn
df= pd.DataFrame(randn(5,4),index=[ 'Noroeste','Rei_Iphone','TrocaPhone','Loja40','Luar'],columns="JULHO AGOSTO SETEMBRO OUTUBRO".split())
df

               JULHO    AGOSTO  SETEMBRO   OUTUBRO
Noroeste    2.111591  0.235978 -0.505377 -1.540103
Rei_Iphone -1.690921 -1.179944 -0.556283  1.893499
TrocaPhone  0.258231 -0.207790  0.619862 -0.750252
Loja40      0.032190 -0.109112 -0.847166 -0.934957
Luar       -0.914045 -0.905614 -1.489354  0.010706

In [16]:
type(df)

pandas.core.frame.DataFrame