In [2]:
import pandas as pd
import numpy as np

In [3]:
labels=['a','b','c']
minha_lista=[10,20,30]
arr=np.array([10,20,30])
d={'a':10,'b':20,'c':30}

pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [4]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=minha_lista,index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [7]:
raking_clientes=pd.Series(data=[1,2,3],index=['Noroeste','Trocaphone','Rei_Iphone'])
raking_clientes

Noroeste      1
Trocaphone    2
Rei_Iphone    3
dtype: int64

In [8]:
raking_clientes['Noroeste']

1

In [9]:
raking_clientes[0]

1

In [10]:
raking_clientes2= pd.Series(data=[4,5,6],index=['Noroeste','Çhiquinho','Rei_Iphone'])
raking_clientes2

Noroeste      4
Çhiquinho     5
Rei_Iphone    6
dtype: int64

In [11]:
raking_clientes + raking_clientes2

Noroeste      5.0
Rei_Iphone    9.0
Trocaphone    NaN
Çhiquinho     NaN
dtype: float64

In [12]:
from numpy.random import randn
df= pd.DataFrame(randn(5,4),index=[ 'Noroeste','Rei_Iphone','TrocaPhone','Loja40','Luar'],columns="JULHO AGOSTO SETEMBRO OUTUBRO".split())
df

               JULHO    AGOSTO  SETEMBRO   OUTUBRO
Noroeste   -0.716180  0.437667 -1.277419  0.067103
Rei_Iphone  0.784639 -0.381684 -0.343483  0.926336
TrocaPhone  1.753127 -0.742536  1.589957  0.361318
Loja40     -0.489876  0.792570  0.714170  0.025384
Luar       -1.567136  0.272812 -0.231119 -1.204925

In [13]:
type(df)

pandas.core.frame.DataFrame

In [16]:
df.loc[['Noroeste','Rei_Iphone']]

               JULHO    AGOSTO  SETEMBRO   OUTUBRO
Noroeste   -0.716180  0.437667 -1.277419  0.067103
Rei_Iphone  0.784639 -0.381684 -0.343483  0.926336

In [17]:
df.iloc[0,2]

-1.2774194510556023

In [18]:
df>0

            JULHO  AGOSTO  SETEMBRO  OUTUBRO
Noroeste    False    True     False     True
Rei_Iphone   True   False     False     True
TrocaPhone   True   False      True     True
Loja40      False    True      True     True
Luar        False    True     False    False